.errMsg {
  color: firebrick;
  font-weight: 600;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #171717;
  color: #f9f9f9;
  padding: 0.25rem;
  position: relative;
  display: flex;
  align-items: center;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.successRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
}
