.usersList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 415px;
    gap: 1rem;
    padding-top: 0px;
  }
}

.listItemBackground {
  background-color: #e1e4e8;
  border-radius: 0.3rem;
}

.listItemBackground:hover {
  background-color: rgb(228, 231, 234);
  border-radius: 0.3rem;
  cursor: pointer;
}
